.item {
    height: 75px;
    background-size: auto;
    background-color: #424242;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.left * {
    display: block;
    border-right: 1px solid rgba(255, 255, 255, .3);
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 3px;
    columns: #442244;
    ;
    margin-right: 10px;
}

.logo-index * {
    align-items: center;
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 7px;
    color: #fff;
}


/* commit a gian */

#menu ul {
    background: black;
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid white;
    padding: 0 1em;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
}

#menu li:hover {
    background: #424242;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 40%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}


/* Set a style for the submit button */

.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

#menu {
    display: flex;
    justify-content: start;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

img {
    display: inline-block;
}

#hide1 {
    margin-left: 5%;
    display: none;
}

#hide2 {
    margin-left: 5%;
    display: none;
}

.display {
    display: flex;
    justify-content: flex-start;
}

.display-2 {
    display: contents;
    flex-direction: column;
}

.display-3 {
    display: flex;
}