<head>
    <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="imagekien/x-icon">
    <title>youtube</title>
    <link href="homepage.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="background">
    <div class="container">
        <a href="http://youtube.com/"><img src="img/youtubelogo.png"></a>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>
        <div class="cursorbtn" style="align-items: center">
            <a href=""><img src="img/moon.png"></a>
            <a><img src="/img/bell.png"></a>
            <a class="cursorbtn" href="login.html"><img src="/img/register.png"></a>
        </div>
    </div>

    <div class="gridcolumn">
        <div class="columbox">
            <button class="colbtn" type="button" onclick=""><b>Home page</b></button>
            <button class="colbtn" type="button" onclick="window.location.href='trendpage.html'"><b>Trending</b></button>
            <button class="colbtn" type="button" onclick=""><b>Subscriptions</b></button>
        </div>

        <div class="outcontainer">
            <h1>Recommended</h1>

            <div class="videorow">
                <div class="video-back">
                    <a href="videopage.html"><img src="/img/ccyld.jpg" alt="ccyld"></a>
                    <a class="videotitle" href="videopage.html">
                        <p>SƠN TÙNG M-TP | CÓ CHẮC YÊU
                            LÀ
                            ĐÂY | OFFICIAL MUSIC VIDEO</p>
                    </a>
                </div>
                <div class="video-back"
                    <a href="https://www.youtube.com/watch?v=swvsNHsFGUU"><img src="/img/bomman.jpg" alt="cdbomman"></a>
                    <a class="videotitle" href="https://www.youtube.com/watch?v=swvsNHsFGUU">
                        <p>Cuộc đời Bomman</p>
                    </a>
                </div>
                <div class="video-back">
                    <a href="https://www.youtube.com/watch?v=3Nz2Tf9Drp8"><img src="/img/ugo.jpg" alt="ugo"></a>
                    <a class="videotitle" href="https://www.youtube.com/watch?v=3Nz2Tf9Drp8">
                        <p>Úi giồi ôi</p>
                    </a>
                </div>
                <div class="video-back">
                    <a href="https://www.youtube.com/watch?v=e-6eWEhjMa4"><img src="/img/clown.jpg" alt="pepe"></a>
                    <a class="videotitle" href="https://www.youtube.com/watch?v=e-6eWEhjMa4">
                        <p>Chào mừng bạn đã đến với
                            rạp xiếc</p>
                    </a>
                </div>
            </div>

            <h1>Trending</h1>

            <div class="videorow">
                <div class="video-back">
                    <a href="videopage.html"><img src="/img/ccyld.jpg" alt="ccyld"></a>
                    <a class="videotitle" href="videopage.html">
                        <p>SƠN TÙNG M-TP | CÓ CHẮC YÊU
                            LÀ
                            ĐÂY | OFFICIAL MUSIC VIDEO</p>
                    </a>
                </div>
            </div>

            <script>
                function myFunction() {
                    var element = document.body;
                    element.classList.toggle("light-mode");
                }
            </script>
</body>