<head>
    <title>youtube</title>
    <link href="homepage.css" rel="stylesheet">

</head>

<body class="background">
    <div class="container">
        <a href="http://youtube.com/"><img src="img/youtubelogo.png"></a>   
        <div class="search-container">
            <input class="search" type="text" placeholder="Tìm kiếm">
            <button type="submit" style="cursor: pointer;" ><img src="/templates/img/search.png"></button>
        </div>
    <div>
        <button type="button" onclick=""><img src="" >Dark mode</button>
        <button type="button" onclick=""><img src="/templates/img/bell.png" style="background-color: #1b1b1b;cursor: pointer; "></button>
        <button type="button" onclick=""><img src="">Sign in</button>
    </div>
    </div>

    <div class="columbox">  
        <button type="button" onclick=""></button>
        <button type="button" onclick=""></button>
    </div>



</body>