<head>
    <link href="login.css" rel="stylesheet">

</head>

<body class="background">
    <a href="homepage.html"><img src="img/youtubelogo.png"></a>
    <div class="box">
        <h1>Sign in</h1>
        <div>
            <form>
                <input type="text" name="login" placeholder="Email or Phone">
                <input style="margin-top: 5%;" type="password" name="pass" placeholder="Password">
            </form>
            <a class="forgpass" href="">Forgot password ?</a>
        </div>
        <div class="margin-top">
            <a href=""><img src="/img/login (1).png"></a>
        </div>
        <div>
            <h5>Doesn't have accout yet? Register now !</h5>
            <a href="register.html"><img src="/img/regis.png"></a>
        </div>
    </div>
</body>