.background{
    background-image: url('https://images6.alphacoders.com/930/930345.jpg');
    display: inline-block;
}

.box{
    height: auto;
    min-height: 500px;
    width: 448px;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 10px;
    padding: 48px,40px,36px;
    align-content: center;
    box-sizing: inherit;
    direction: ltr;
    display: inline-block;
    text-align: center;
    margin-left: 100%;
    margin-top: 10%;
    background-color: #424242;
    color:lightgrey;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 9%;
    background-color: ghostwhite;
    outline: none;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

input[type=password] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 9%;
    background-color: ghostwhite;
    outline: none;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=password]:focus {
    width: 80%;
}

.forgpass{
    color: lightgray;
}

.margin-top{
    margin-top: 5%;
}