<head>
    <link href="login.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://png.pngtree.com/png-vector/20190621/ourlarge/pngtree-fire-icon-png-image_1507235.jpg" type="imagekien/x-icon">
    <title>login</title>
</head>

<body class="background">
    <a href="homepage.html"><img src="./imagekien/yt-logo.png"></a>
    <div class="box">
        <h1>Sign in</h1>
        <div>
            <form style="margin-top: -5%;">
                <input type="text" name="login" placeholder="Email or Phone">
                <input style="margin-top: 3%;" type="password" name="pass" placeholder="Password">
            </form>
            <a class="forgpass" href="">Forgot password ?</a>
        </div>
        <div class="margin-top">
            <a href=""><img src="./img/login (1).png"></a>
        </div>
        <div>
            <h3>Doesn't have accout yet? Register now !</h3>
            <a href="register.html"><img src="./img/regis.png"></a>
        </div>
    <div>
        <h3>Or login with</h3>
        <a><img src="./img/login with 1.png" ></a>
        <a><img src="./img/login with 2.png" ></a>
    </div>
    </div>
</body>