<head>
    <link href="register.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://png.pngtree.com/png-vector/20190621/ourlarge/pngtree-fire-icon-png-image_1507235.jpg" type="imagekien/x-icon">
    <title>register</title>
</head>

<body class="background">
    <a href="homepage.html"><img src="./imagekien/yt-logo.png"></a>
    <div class="box">
        <h1>Register</h1>
        <div style="margin-top: -5%;">
            <form>
                <input type="text" name="register" placeholder="Email">
                <input style="margin-top: 5%;" type="tel" name="Phone" placeholder="Phone">
                <input style="margin-top: 5%;" type="password" name="register" placeholder="Password">
                <input style="margin-top: 5%;" type="password" name="pass" placeholder="Confirm password">
            </form>
        </div>
        <div style="margin-top: 6%;">
            <button class="regisbtn" href=""><img src="./img/regis.png"></button>
        </div>
        <h3>Already have account? Sign in!</h3>
        <a href="login.html"><img src="./img/sign-in.png"></a>
    </div>
</body>