<head>
    <link href="./setting.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Setting</title>
</head>

<body>
    <header>
        <div class="header-logo">
            <a href="#">
                <img src="./imagekien/hamburger.png" alt="navigation button" class="header-hamburger-logo">
            </a>
            <a href="./homepage.html">
                <img src="./imagekien/yt-logo.png" alt="FireTV logo" class="header-yt-logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="Tìm kiếm..">

            </form>
        </div>
        <div class="header-icons header-logo">
            <a href="#">
                <img src="./imagekien/grid.png" name="grid icon" class="header-icons-grid">
            </a>
            <a href="#">
                <img src="./imagekien/bell.png" name="grid icon" class="header-icons-bell">
            </a>
            <a href="login.html">
                <img style="margin-top: 5px;" src="./img_k/acc.png" alt="grid icon" class="header-icons-profile">
            </a>
        </div>
    </header><br><br>
    <div id="menu">
        <ul>
            <li><a type="button" name="TrangChu" onclick="hien1()">Trang chủ</a></li>
            <li><a type="button" name="ThongBao" onclick="hien2()">Thông báo</a></li>
            <li><a type="button" name="Phatlaivahieusuat" onclick="hien3()">Phát lại và hiệu suất</a></li>
            <li><a type="button" name="Quyenriengtu" onclick="hien4()">Quyền riêng tư</a></li>
            <li><a type="button" name="XemTivi" onclick="hien5()">Xem trên Tivi</a></li>
            <li><a type="button" name="thanhtoan" onclick="hien6()">lập hóa đơn và thanh toán</a></li>
            <li><a type="button" name="caidatnangcao" onclick="hien7()">Cài đặt nâng cao</a></li>

        </ul>
        <div id="hide1">
            <div class="display">
                <div>
                    <h1 style="color: yellow;">Tài khoản </h1>
                    <h2>Chọn cách bạn xuất hiện và nội dung bạn muốn xem trên YouTube </h2>
                    <p style="color: rgb(170, 170, 170);">Đăng nhập bằng tài khoản của bạn</p>
                </div>
                <div style="margin-left: 45;">
                    <img src="./img_k/inAccount.png">
                </div>
            </div>
            ------------------------------------
            <h1 style="color: chartreuse;">Kênh FireTV của bạn</h1>
            <p style="color: rgb(170, 170, 170)" ;>Đây là sự hiện diện công khai của bạn trên YouTube. Bạn cần có một kênh để tải video của riêng mình lên, bình luận về các video hoặc tạo danh sách phát.</p>

            <div class=" display">
                <div>
                    <p>Kênh của bạn</p>
                </div>

                <div style="margin-left: 7%; "><br>
                    <a href="https://www.youtube.com/create_channel " style="color: rgb(62,166,255); ">Tạo 1 kênh</a>
                </div>

            </div>
            ------------------------------------
            <h1 style="color: chartreuse;">Tài khoản của bạn</h1>
            <a href="login.html" style="color: rgb(62,166,255)" ;>Đăng nhập FireTV</p>

            <div class="display-3 ">
                <div>
                    <p> Tài khoản Google </p>
                </div>
                <div style="margin-left: 5%; ">
                    <p style="color: rgb(170, 170, 170)" ;><a href="https://myaccount.google.com/ " style="color:rgb(62,166,255) " ;>Xem hoặc thay đổi các tùy chọn cài đặt cho Tài khoản Google của bạn.</a><br>Bạn sẽ được chuyển đến trang Tài
            khoản Google của mình.</p>
        </div>
    </div>

    <div class="display-3">
        <div>
            <p>Tư cách thành viên </p>
        </div>
        <div style="margin-left: 5%; ">
            <p>Bạn chưa phải thành viên|<a href="# " style="color:rgb(62,166,255); ">Hãy đăng ký gói FireTV Premium</a><br>FireTV Premium cho phép bạn nghe nhạc không gián đoạn, xem video không có quảng cáo và nhiều lợi ích khác </p>
        </div>
    </div>
    </div>
    <div id="hide2">
        <div class="display">
            <div>
                <h1 style="color: red;">Thông báo </h1>
                <h2>Chọn cách và thời gian bạn muốn nhận thông báo </h2>
                <p style="color: rgb(170, 170, 170);">Chọn thông báo đẩy và thông báo qua email mà bạn muốn nhận
                </p>
            </div>
            <div style="margin-left: 45;">
                <img src="./img_k/chim youtu.png">
            </div>
        </div>
        ------------------------------------
        <div>
            <h1 style="color: yellow;">Chung
                </>
                <p style="color: rgb(170, 170, 170)" ;>Quản lý thông báo trên màn hình và trên thiết bị di động </p>
                <div class='display'>
                    <div>
                        <h3 style="color: chartreuse;">Thông báo trên màn hình</h3>
                    </div>
                    <div>
                        <label class="container">Nhận thông báo trên trình duyệt <img src="./img_k/Chrome-Logo.png " alt="Chrome-logo " width="30 " height="30 ">
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Nhận thông báo cả khi bạn không đang xem FireTV
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                    </div>
                </div>

                <div class="display">
                    <div>
                        <h3 style="color: chartreuse;">Tùy chọn của bạn</h3>
                    </div>

                    <div style="margin-left: 34%;">
                        <label class="container">kênh đăng ký<br>Thông báo cho tôi về hoạt động của <a style="color: rgb(62,166,255);" href="https://www.youtube.com/feed/channels">các kênh mà tôi đăng ký</a>
                            <input type="checkbox" checked="checked" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Video đề xuất<br>Thông báo cho tôi về các video mà tôi có thể thích dựa trên nội dung đã xem
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Hoạt động trên kênh của tôi<br>Thông báo cho tôi về bình luận và hoạt động khác trên kênh hoặc video của tôi
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Hoạt động đối với bình luận của tôi<br>Thông báo cho tôi về hoạt động đối với bình luận của tôi trên video của người khác
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Phản hồi đối với bình luận của tôi<br>Thông báo cho tôi về các phản hồi đối với bình luận của tôi.
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Lượt đề cập<br>Thông báo cho tôi khi những người khác đề cập đến kênh của tôi
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Chia sẻ nội dung<br>Thông báo cho tôi khi có người khác chia sẻ nội dung của tôi trên kênh của họ
                            <input type="checkbox" name="radio">
                            <span class="checkmark"></span>
                          </label>
                    </div>
                </div>
        </div>
        <div>
            <h3>Thông báo qua Email</h3>
            <p style="color: rgb(170, 170, 170);">Các email của bạn được gửi đến tài khoản đăng nhập. Để hủy đăng ký nhận một email, hãy nhấp vào đường dẫn liên kết "Hủy đăng ký" ở cuối email đó.<a style="color: rgb(62,166,255)" href="https://support.google.com/youtube/answer/7123737?visit_id=637323918513003119-2008228682&p=emails_from_youtube&hl=vi&rd=1">Tìm hiểu thêm</a>về
                email từ FireTV.</p>
        </div>
        <div class="display">
            <div>
                <h3 style="color: yellow;">Quyền</h3>
            </div>
            <div style="margin-left: 34%;">
                <label class="container">Gửi cho tôi email về hoạt động của tôi trên YouTube và thông tin cập nhật mà tôi đã yêu cầu<br>
                        Nếu bạn tắt tùy chọn cài đặt này, FireTV vẫn có thể gửi thư cho bạn liên quan đến tài khoản của bạn, thông báo bắt buộc về dịch vụ, thông báo pháp lý và các vấn đề về quyền riêng tư
                        <input type="checkbox" name="radio">
                        <span class="checkmark"></span>
                      </label>
            </div>
        </div>
        <div class="display">
            <div>
                <h3 style="color: yellow;">Tùy chọn của bạn</h3>
            </div>
            <div style="margin-left: 34%;">
                <label class="container">Kênh đăng ký<br>
                        Thông báo cho tôi về hoạt động của <a style="color: rgb(62,166,255);" href="https://www.youtube.com/feed/channels">các kênh mà tôi đăng ký</a>
                        <input type="checkbox" name="radio">
                        <span class="checkmark"></span>
                      </label>
                <label class="container">Thông báo cập nhật chung về sản phẩm<br>
                        Thông báo và nội dung đề xuất
                        <input type="checkbox" name="radio">
                        <span class="checkmark"></span>
                      </label>
                <label class="container">Thông tin cập nhật về kênh FireTV của bạn<br>
                        Thông báo và mẹo dành riêng cho bạn
                        <input type="checkbox" name="radio">
                        <span class="checkmark"></span>
                      </label>
            </div>
        </div>
    </div>
    <div id="hide3">
        <div class="display">
            <div>
                <p>Phát lại và hiệu suất</p>
                <h2>Kiểm soát trải nghiệm xem video của bạn </h2>
                <p style="color: rgb(170, 170, 170);">Các tùy chọn cài đặt phát lại chỉ áp dụng cho trình duyệt này</p>
            </div>
            <div style="margin-left: 45;">
                <img src="./img/glass.png">
            </div>
        </div>
        <div class="display">
            <div>
                <h2 style="color: chartreuse;">Thẻ thông tin</h2>
            </div>
            <div>
                <label class="container"> Hiển thị thẻ thông tin trong video
                        <input type="checkbox" checked="checked" name="radio">
                        <span class="checkmark"></span>
                      </label>
            </div>
        </div>

        <div class="display">
            <div>
                <h2 style="color: chartreuse;">phụ đề</h2>
            </div>
            <div>
                <label class="container">Luôn hiện phụ đề
                        <input type="checkbox" checked="checked" name="radio">
                        <span class="checkmark"></span>
                      </label>
                <label class="container">Cài đặt mặc định (nên dùng)
                        <input type="checkbox" checked="checked" name="radio">
                        <span class="checkmark"></span>
                      </label>
            </div>
        </div>
        <div class="display">
            <div>
                <h3 style="color: chartreuse;">Cài đặt AV1</p>
            </div>
            <div>
                <label class="container">Cài đặt mặc định (nên dùng)
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>
                <label class="container">Ưu tiên dùng AV1 cho chế độ SD
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                <label class="container">Luôn ưu tiên AV1
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>
    </div>
    <div id="hide4">
        <div class="display">
            <div>
                <h1>Quyền riêng tư</h1>
                <h1 style="color: darkorange;">Quản lý nội dung mà bạn chia sẻ trên FireTV</h1>
                <p style="color: rgb(170, 170, 170);">Chọn những người có thể xem danh sách phát đã lưu và các kênh đăng ký của bạn. </p>
                <p>Xem <a href="https://www.youtube.com/t/terms" style="color: rgb(62,166,255);">Điều khoản dịch vụ của FireTV</a> và <a style="color: rgb(62,166,255);" href="https://policies.google.com/privacy?hl=vi">Chính sách quyền riêng tư của Google</a></p>
            </div>
            <div>
                <img src="./img_k/4.png">
            </div>
        </div><br>

        <div class="display-3">

            <div>
                <h1 style="color: chartreuse;">Danh sách phát và kênh đăng ký</h1>
            </div>
            <div style="margin-left: 5%;">
                <label class="container">Đặt tất cả danh sách phát mà tôi đã lưu ở chế độ riêng tư<br>
                        Các danh sách phát do người khác tạo sẽ không xuất hiện trên kênh của bạn. Các danh sách phát do bạn tạo có các tùy chọn cài đặt quyền riêng tư riêng cho từng danh sách.<a style="color: rgb(62,166,255);" href="https://support.google.com/youtube/answer/3127309?hl=vi">Tìm hiểu thêm</a>
                        <input type="checkbox" name="radio">
                        <span class="checkmark"></span>
                      </label>
                <label class="container">Đặt tất cả các kênh đăng ký của tôi ở chế độ riêng tư<br>
                        Người khác sẽ không nhìn thấy bạn đã đăng ký những kênh nào. Quản lý các kênh đăng ký của bạn <a style="color: rgb(62,166,255);" href="https://www.youtube.com/feed/channels">Tại đây</a>
                        <input type="checkbox" name="radio">
                        <span class="checkmark"></span>
                      </label>
            </div>
        </div>


        <div class="display-3">
            <div>
                <h1 style="color: yellow;">Quảng cáo dựa trên mối quan tâm của tôi</h1>
            </div>
            <div>
                <p>Phân phát các quảng cáo phù hợp dựa trên trải nghiệm duyệt web trực tuyến cũng như lịch sử xem FireTV của bạn.<br>Bạn có thể quản lý các tùy chọn quảng cáo từ phần <a style="color: rgb(62,166,255);" href="https://adssettings.google.com/authenticated?hl=vi">Cài đặt quảng cáo của Google</a>                    <br>Tại đó, bạn có thể thực hiện các hành động sau</p>
                <br><br>

                <ul style="background: none;">
                    <li>Xem hoặc quản lý các danh mục sở thích và nhân khẩu học</li><br>
                    <li>Chặn một số nhà quảng cáo nhất định</li><br>
                    <li>Chọn không xem các quảng cáo dựa trên sở thích</li>
                </ul><br><br>

            </div>



        </div>

    </div>
    <div id="hide5">
        <div class="display">
            <div>
                <p>Xem trên TV</p>
                <h2>Phát video trên TV của bạn </h2>
                <p style="color: rgb(170, 170, 170);">Kết nối App Fire với FireTV của bạn </p>
            </div>
            <div style="margin-left: 45;">
                <img src="./img_k/connect.png">
            </div>
        </div>
        <ol style="background: none;" style="color: rgba(0,0,0,0);">
            <li> Chạy App Fire trên thiết bị TV của bạn. </li>
            <li> Điều hướng đến cài đặt và chọn "Liên kết TV và Điện thoại." </li>
            <li> Nhập mã TV màu xanh dương hiển thị trên TV vào hộp bên dưới. </li>
            <li> Nhấp vào biểu tượng<i class="fa fa-tv icon" style="background: none;"></i> để chọn màn hình sẽ phát video của bạn.</li>
        </ol>
    </div>
    <div id="hide6">
        <div class="display">
            <div>
                <h1 style="color: yellow;">Lập hóa đơn và thanh toán </h1>
                <h2>Chọn cách bạn mua hàng trên FireTV </h2>
                ------------------------------------
                <p>Đã tắt tính năng mua nhanh. </p>
                <div class="display">
                    <div>
                        <p>Bạn sẽ nhận được yêu cầu xác minh tài khoản cho mọi giao dịch mua trên YouTube</p>
                    </div>
                    <div class="display-3">
                        <a href="https://www.youtube.com/account_billing" style="color: rgb(62,166,255);">Bật tính năng mua hàng</a>
                    </div>
                </div>
                <a href="https://support.google.com/youtube/answer/7577041?visit_id=637323780467615812-2357585158&p=password_authentication&hl=vi&rd=1" style="color: rgb(62,166,255);">Tìm hiểu thêm về việc xác minh giao dịch mua</a>
            </div>
        </div>
    </div>
    <div id="hide7">
        <div class="display">
            <div>
                <p>Cài đặt nâng cao</p>
                <h2>Thiết lập FireTV theo ý bạn</h2>
            </div>
            <div style="margin-left: 45;">
                <img src="./img_k/setting.png">
            </div>
        </div>
        ------------------------------------
        <div class="display">
            <div>
                <p>ID người dùng</p>

            </div>
            <div style="margin-left: auto;">
                <input class="input-field" type="text" placeholder="XXXX-XXX-XXX" c disabled>
            </div>
        </div>
    </div>
    </div>




    <script src="./script for setting.js ">
    </script>
</body>