<!DOCTYPE html>

<head>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>

<body>
    <div></div>
    <link rel="stylesheet" href="./searching.css">
    <div class="topbar">
        <div>
            <a><img style="width: 40px;height: 20px;" src="./img_t/113631685_2145426635590827_6302070842286890283_n.jpg" alt="topbar"></a>
            <a> <img style="width: 150px;height: 40px;" src="./img_t/images.jpg" alt=".topbar"> </a>
        </div>
        <div>
            <a> <img src="./img_t/116336283_3261539760599680_3395323217981176350_n.jpg" alt=".topbar"> </a>
            <a> <input type="text" name="user" style="width: 300px",height: 40px; ></a>
        </div>
        <div>
            <a> <img style="width: 20px;height: 20px;" src="./img_t/116375706_3369437476448663_3969872891373313495_n.jpg" alt=".topbar"> </a>
            <a> <img style="width: 20px;height: 20px;" src="./img_t/116426082_419497228976989_6375288243706145057_n.jpg" alt=".topbar"> </a>
            <a> <img style="width: 30px;height: 20px;" part="" alt="Hình ảnh đại diện" height="32" width="32"
                    src="//lh3.googleusercontent.com/-I5D77BQ1nn0/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuckEKEuA6zHbdqsnN5ImXv2UIhh4_g/s88-c-k-c0x00ffffff-no-rj-mo/photo.jpg">
            </a>
        </div>

    </div>

    <div style="padding: left 17ppx">
   
        <p> <img  style="width: 20px;height: 20px"  ; src="download (1).png" alt="">LOC </p>
    </div>
    <div class="container" >
        <div class=" icon-bar">
        <div class="grid-container"></div>   
        <a><i class="fa fa-home"></i></a> 
        <a><i class="fa fa-fire"></i></a>
        <a><i class="fa fa-envelope"></i></a>
        <a><i class="fa fa-globe"></i></a>
        <a><i class="fa fa-trash"></i></a>
          
    </div>
    <div class="grid-container">
        <div  class="item1"><img id="img" class="style-scope yt-img-shadow" alt="" width="246" src="https://i.ytimg.com/vi/5TlJtpytXtk/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLD7kLwyxI04TrJs_tdifNg8jrm7QA">
            <a style="color: white;" id="video-title"  title="TTeam - MUỐN NÓI VỚI EM [Official MV] KIỀU MINH TUẤN , LÊ CHI, BLACKBI">
                <yt-formatted-string class="style-scope ytd-video-renderer" aria-label="TTeam - MUỐN NÓI VỚI EM [Official MV] KIỀU MINH TUẤN , LÊ CHI, BLACKBI của BlackBi Original 1 tháng trước 4 phút và 5 giây 12.834.653 lượt xem">TTeam - MUỐN NÓI VỚI EM [Official MV] KIỀU MINH TUẤN , LÊ CHI, BLACKBI</yt-formatted-string><span dir="auto" class="style-scope yt-formatted-string"> [Official MV] KIỀU MINH TUẤN , LÊ CHI #MuonNoiVoiEm #TTeam #Blackbi #ThaiVu #KieuMinhTuan&nbsp;...</span>
        </div>
        <div class="item2"><img id="img"  alt="" width="246" src="https://i.ytimg.com/vi/ut_3389rJh0/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLBIGpgC2Vy_Hh3GYiPLSbegaOXw1A">
            <a style="color: white;" id="video-title" class="yt-simple-endpoint style-scope ytd-video-renderer" title="TTEAM | MUỐN NÓI VỚI EM [VERSION PIANO NEW RAP] FT BLACKBI" href="/watch?v=ut_3389rJh0" aria-label="TTEAM | MUỐN NÓI VỚI EM [VERSION PIANO NEW RAP] FT BLACKBI của BlackBi Original 2 tuần trước 5 phút và 57 giây 1.893.768 lượt xem">
                <yt-formatted-string class="style-scope ytd-video-renderer" aria-label="TTEAM | MUỐN NÓI VỚI EM [VERSION PIANO NEW RAP] FT BLACKBI của BlackBi Original 2 tuần trước 5 phút và 57 giây 1.893.768 lượt xem">TTEAM | MUỐN NÓI VỚI EM [VERSION PIANO NEW RAP] FT BLACKBI</yt-formatted-string>
                <span dir="auto" class="style-scope yt-formatted-string"> [VERSION PIANO NEW RAP] FT BLACKBI #MuonNoiVoiEm #TTeam #Blackbi #MaiXuanThu #DT&nbsp;...</span>
            </a> 
        </div>
        <div style="color: white;" class="item3"><img id="img" class="style-scope yt-img-shadow" alt="" width="246" src="https://i.ytimg.com/vi/twwO3woYgzE/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLDpsZo3_29_OobAg7-KKH-5rSY20w">
            <yt-formatted-string  class="style-scope ytd-video-renderer" aria-label="Muốn Nói Với Em - TTeam (lyrics) #MNVE #TTeam của M 1 tháng trước 4 phút và 3 giây 165.450 lượt xem">Muốn Nói Với Em - TTeam (lyrics) #MNVE #TTeam</yt-formatted-string>
            <span dir="auto" class="style-scope yt-formatted-string"> Singer: TTeam Chúc các bạn nghe nhạc vui vẻ. Lyrics: Màn đêm buông xuống mình tôi ngồi uống cạn ly&nbsp;...</span>
        </div>  
        <div style="color: white;" class="item4"><img id="img" class="style-scope yt-img-shadow" alt="" width="246" src="https://i.ytimg.com/vi/TaQnPV6XLgg/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLBSuVkrxdLCftK3QWxSX5p9AtMFLw">
            <yt-formatted-string class="style-scope ytd-video-renderer" aria-label="TTeam - Muốn nói với em | BlackBi (lofi chill) của Mạnh Henry 1 tháng trước 3 phút và 58 giây 41.845 lượt xem">TTeam - Muốn nói với em | BlackBi (lofi chill)</yt-formatted-string>
        <yt-formatted-string id="description-text" class="style-scope ytd-video-renderer"><span dir="auto" class="bold style-scope yt-formatted-string">Muốn nói với em</span><span dir="auto" class="style-scope yt-formatted-string"> | BlackBi ( lofi chill) #manhhenry #muonnoivoiem #lofi ©Bản quyền thuộc về Mạnh Henry ©Reup nhớ ghi nguồn&nbsp;...</span></yt-formatted-string>
        </div>
          </div>
</body> 

</html>