<!DOCTYPE html>

<head>

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="imagekien/x-icon">
        <title>FireTV</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./searching.css">

    </head>

<body class="background">

    <header>
        <div class="header-logo">
            <a href="#">
                <img src="./imagekien/hamburger.png" alt="navigation button" class="header-hamburger-logo">
            </a>
            <a href="./homepage.html">
                <img src="./imagekien/yt-logo.png" alt="YouTube logo" class="header-yt-logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="Searching">

            </form>
        </div>
        <div class="header-icons header-logo">
            <a href="#">
                <img src="./imagekien/grid.png" name="grid icon" class="header-icons-grid">
            </a>
            <a href="#">
                <img src="./imagekien/bell.png" name="grid icon" class="header-icons-bell">
            </a>
            <a href="#">
                <img style="margin-top: 15px;width: 25px;height: 25px;" src="./img_t/photo.jpg" alt="grid icon"
                    class="header-icons-profile">
            </a>
        </div>
    </header>
    <div>

        <p style="color: white;"> <img style="width: 20px;height: 20px" ; src="download (1).png" alt="">LOC </p>
    </div>
    <div class="container">
        <div class=" icon-bar">
            <div class="grid-container"></div>
            <a class="active" id="p" href="#">Home</a>
            <a class="active" id="p" href="#">Trending</a>
            <a class="active" id="p" href="#">Subcribe</a>
            <a class="active" id="p" href="#">Library</a>
            <a class="active" id="p" href="#">History</a>
            <a class="active" id="p" href="#">Watch later</a>
            <a class="active" id="p" href="#">Setting</a>


        </div>

        <div class="grid-container">
            <div class="item1"><img id="img" alt="" width=" 246"
                    src="https://i.ytimg.com/vi/5TlJtpytXtk/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLD7kLwyxI04TrJs_tdifNg8jrm7QA">
                <a style="color: white;" id="video-title"
                    title="TTeam - MUỐN NÓI VỚI EM [Official MV] KIỀU MINH TUẤN , LÊ CHI, BLACKBI">
                    <span> [Official MV] KIỀU MINH TUẤN , LÊ CHI #MuonNoiVoiEm #TTeam #Blackbi #ThaiVu
                        #KieuMinhTuan&nbsp;...</span>
            </div>
            <div class="item2"><img id="img" alt="" width="246"
                    src="https://i.ytimg.com/vi/ut_3389rJh0/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLBIGpgC2Vy_Hh3GYiPLSbegaOXw1A">
                <a style="color: white;" id="video-title"
                    title="TTEAM | MUỐN NÓI VỚI EM [VERSION PIANO NEW RAP] FT BLACKBI">
                    <span> [VERSION PIANO NEW RAP] FT BLACKBI #MuonNoiVoiEm #TTeam #Blackbi #MaiXuanThu
                        #DT&nbsp;...</span>
                </a>
            </div>
            <div style="color: white;" class="item3"><img id="img" alt="" width="246"
                    src="https://i.ytimg.com/vi/twwO3woYgzE/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLDpsZo3_29_OobAg7-KKH-5rSY20w">
                <span> Singer: TTeam Chúc các bạn nghe nhạc vui vẻ. Lyrics: Màn đêm buông xuống mình tôi ngồi uống cạn
                    ly&nbsp;...</span>
            </div>
            <div style="color: white;" class="item4"><img id="img" alt="" width="246"
                    src="https://i.ytimg.com/vi/TaQnPV6XLgg/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLBSuVkrxdLCftK3QWxSX5p9AtMFLw">
                <span> | BlackBi ( lofi chill) #manhhenry #muonnoivoiem #lofi ©Bản quyền thuộc về Mạnh Henry ©Reup nhớ
                    ghi nguồn&nbsp;...</span>
            </div>
        </div>

</body>

</html>