<!DOCTYPE html>
<head>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<link rel="stylesheet" href="./searching.css">
<div class="topbar"; style="display:flex; justify-content: center ">
<div>
  <a class="active" href=""><img src="./img_t/113631685_2145426635590827_6302070842286890283_n.jpg" alt="topbar"></a>
  <a> <img src="./img_t/116171340_313235180033173_8906708069982740463_n.jpg" alt=".topbar"> </a></div>
  <div class="row">
  <a> <img src="./img_t/116336283_3261539760599680_3395323217981176350_n.jpg" alt=".topbar"> </a>
   <br><a> <input type="text" name="user"></form></br></form></a></div>
 
   <a> <img src="./img_t/116375706_3369437476448663_3969872891373313495_n.jpg" alt=".topbar">  </a>
   <a> <img src="./img_t/116426082_419497228976989_6375288243706145057_n.jpg" alt=".topbar">  </a>
   <a> <img src="./img_t/116722797_304229954032392_6533337014844233339_n.jpg" alt=".topbar">  </a></div>

</div>

<div style="padding: left 15ppx">
  <h2></h2>
  <p></p>
  <p>lọc</p>
</div>
<div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a> 
    <a href="#"><i class="fa fa-search"></i></a> 
    <a href="#"><i class="fa fa-envelope"></i></a> 
    <a href="#"><i class="fa fa-globe"></i></a>
    <a href="#"><i class="fa fa-trash"></i></a> 
</div>
    
</body></html>
