<!DOCTYPE html>

<head>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="./subcribe.css">

    </head>

<body>
    <div></div>
    
    <div class="topbar">
        <div>
            <a><img style="width: 40px;height: 20px;" src="./imagekien/hamburger.png"
                    alt="topbar"></a>
            <a> <img style="width: 150px;height: 40px;" src="./imagekien/yt-logo.png" alt=".topbar"> </a>
        </div>
        <div>
            <a> <img src="./img_t/116336283_3261539760599680_3395323217981176350_n.jpg" alt=".topbar"> </a>
            <a> <input type="text" name="user" style="width: 300px" ,height: 40px;></a>
            <a> <img style="width: 20px;height: 20px;" src="./img/moon.png" alt=".topbar"> </a>
        </div>
        <div>
            <a> <img style="width: 20px;height: 20px;"
                    src="./img_t/116375706_3369437476448663_3969872891373313495_n.jpg" alt=".topbar"> </a>
            <a> <img style="width: 20px;height: 20px;" src="./imagekien/bell.png"
                    alt=".topbar"> </a>
            <a> <img style="width: 30px;height: 20px;" alt="Hình ảnh đại diện" height="32" width="32"
                    src="//lh3.googleusercontent.com/-I5D77BQ1nn0/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuckEKEuA6zHbdqsnN5ImXv2UIhh4_g/s88-c-k-c0x00ffffff-no-rj-mo/photo.jpg">
            </a>
        </div>

    </div>


    <div class="container">
        <div class=" icon-bar">
            <div class="grid-container"></div>
            <a class="active" href="#"><i class="fa fa-home"></i></a>
            <a href="#"><i class="fa fa-fire"></i></a>
            <a href="#"><i class="fa fa-window-restore"></i></a>
            <a id="p" href="#">Kênh đăng ký></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-thumbs-up"></i></a>
            <a href="#"><i class="fa fa-clock-o"></i></a>
            


        </div>

        <div class="grid-container">
           
                <img src="./img_t/channels4_banner.jpg" height="200" width="1300px">
            
            <div class = "sub">
                <img id="img" class="style-scope yt-img-shadow" width="80" alt="" src="https://yt3.ggpht.com/a/AATXAJy24ii2sCAjheSqMC9tjtXNevfCSv1irCzRQ5MW=s100-c-k-c0xffffffff-no-rj-mo">
                <b style="margin-top: 14px">TUỔI TRẺ CHƯA TRẢI SỰ ĐỜI </b> 
                <button style="width: 60px; height: 40px; margin-top: 15px;" class="dangki" id="C" >đăng kí</button>
            </div>
                          
           
                   
                
           
        </div>
    </div>

</body>

</html>