<!DOCTYPE html>

<head>

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="https://png.pngtree.com/png-vector/20190621/ourlarge/pngtree-fire-icon-png-image_1507235.jpg" type="imagekien/x-icon">
        <title>FireTV</title>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./subcribe.css">

    </head>

<body class="background">

    <header>
        <div class="header-logo">
            <a href="#">
                <img src="./imagekien/hamburger.png" alt="navigation button" class="header-hamburger-logo">
            </a>
            <a href="./homepage.html">
                <img src="./imagekien/yt-logo.png" alt="YouTube logo" class="header-yt-logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="Searching">

            </form>
        </div>
        <div class="header-icons header-logo">
            <a href="#">
                <img src="./imagekien/grid.png" name="grid icon" class="header-icons-grid">
            </a>
            <a href="#">
                <img src="./imagekien/bell.png" name="grid icon" class="header-icons-bell">
            </a>
            <a href="#">
                <img style=" margin-top: 15px;width: 25px;height: 25px;" src="./img_t/photo.jpg" alt="grid icon"
                    class="header-icons-profile">
            </a>
        </div>
    </header>
    <div>

    </div>


    <div class="container">
        <div class=" icon-bar">
            <div class="grid-container"></div>
            <a class="active" id="p" href="#">Home</a>
            <a class="active" id="p" href="./trendpage.html">Trending</a>
            <a class="active" id="p" href="#">Subcribe</a>
            <a class="active" id="p" href="#">Library</a>
            <a class="active" id="p" href="#">History</a>
            <a class="active" id="p" href="#">Watch later</a>
            <a class="active" id="p" href="#">Setting</a>


        </div>

        <div class="grid-container">

            <img src="./img_t/channels4_banner.jpg" height="200" width="1300px">

            <div class="sub">
                <img id="img" class="style-scope yt-img-shadow" width="80" alt=""
                    src="https://yt3.ggpht.com/a/AATXAJy24ii2sCAjheSqMC9tjtXNevfCSv1irCzRQ5MW=s100-c-k-c0xffffffff-no-rj-mo">
                <b style="margin-top: 14px; margin-bottom: 10px;;color: white;">TUỔI TRẺ CHƯA TRẢI SỰ ĐỜI </b>
                <div>
                    <button style="width: 60px; height: 40px; margin-top: 15px; background-color: red; color: white; "
                        class="dangki" id="C">subcribe</button>
                    <img src="./img/bell.png" style="width: 24px;height: 24px;">
                </div>
            </div>
            <div class="outcontainer">
                <h1>Recommended</h1>
                <h2>Video upload > play it all </h2>

                <div class="videorow" style="color: white;">

                   
                        <a style="color: white;" href="https://www.youtube.com/watch?v=2yCKru6tchw"><img src="./img_t/hqdefault.webp"
                                alt="TTCTSD 45" ><br>TUỔI TRẺ CHƯA TRẢI SỰ ĐỜI || SỐ 45</br></a>
                        <a class="videotitle" href="https://www.youtube.com/watch?v=2yCKru6tchw">
                            
                        </a>
                    
                        <a style="color: white;" href="https://www.youtube.com/watch?v=dny9pDp_gQU"><img src="./img_t/hqdefault (1).webp"
                                alt="TTCTSD 44" ><br>TUỔI TRẺ CHƯA TRẢI SỰ ĐỜI || SỐ 44</br</a>
                        <a class="videotitle" href="https://www.youtube.com/watch?v=3Nz2Tf9Drp8">
                            
                        </a>
                   
                        <a style="color: white;" href="https://www.youtube.com/watch?v=KEJmEj0rDuE"><img src="./img_t/hqdefault (2).webp"
                                alt="TTCTSD 43" ><br>TUỔI TRẺ CHƯA TRẢI SỰ ĐỜI || SỐ 43</br</a>
                        <a class="videotitle" href="https://www.youtube.com/watch?v=e-6eWEhjMa4">
                           
                        </a>
                    

                </div>

            </div>
        </div>

</body>

</html>