
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://images6.alphacoders.com/930/930345.jpg');

  
}

header {
  grid-area: header;
  height: 55px;
  border-bottom: 2px solid rgb(37, 37, 37);
  display: grid;
  grid-template-columns: 150px 1fr 250px;
  padding: 0 10px 0 10px;
  margin-left: -10px;
  margin-bottom: 10px;
  position: fixed;
  top: -0.2em;
  width: 100%;
  z-index: 1;
  background: rgb(31, 30, 30);
}


.header-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search form {
  width: 40%;
  margin: 0 auto;
  color: black;
}

input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 1%;
    background-color: ghostwhite;
    outline: none;
    padding: 12px 20px 12px 40px;
}
.header-hamburger-logo {
  position: relative;
  top: 10px;
}

.header-yt-logo {
  position: relative;
  top: 7px;
}

.header-icons-bell {
  position: relative;
  top: 18px;
  left: 20px;
}

.header-icons-profile {
  width: 45px;
  position: relative;
  top: 5px;
  left: 5px;
}

.header-icons-grid {
  position: relative;
  top: 17px;
  left: 20px;
}
  body {margin:0}


  .icon-bar {
    width: 90px;
    background-color: rgb(27, 25, 25);
    opacity: 0.7;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: red;
  }
  
  



.container{
    display:flex;
    justify-content: start;
   
}
#p{
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.p{
display: flex;
justify-content: space-evenly;
}
.sub{
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
}
.outcontainer{
  display:block;
  align-items: center;
  color: white;
  margin-left: 5%;
}
.videorow{
  display: flex;
  justify-content: space-between;
}