<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/imagekien/fire.png" type="imagekien/x-icon">
    <title>Trending </title>

</head>

<body>
    
    <link rel="stylesheet" href="trendpage.css">
    <header>
        <div class="header-logo">
            <a href="#">
                <img src="./imagekien/hamburger.png" alt="navigation button" class="header-hamburger-logo">
            </a>
            <a href="./homepage.html">
                <img src="./imagekien/yt-logo.png" alt="YouTube logo" class="header-yt-logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" name="search"  placeholder="Tìm kiếm..">

            </form>
        </div>
        <div class="header-icons header-logo">
            <a href="#">
                <img src="./imagekien/grid.png" name="grid icon" class="header-icons-grid">
            </a>
            <a href="#">
                <img src="./imagekien/bell.png" name="grid icon" class="header-icons-bell">
            </a>    
            <a href="#">
                <img style="margin-top: 5px;" src="./imagekien/profile-placeholder.png" alt="grid icon"
                    class="header-icons-profile">
            </a>
        </div>

    </header>
    <div class="maintask">
        <div class="topview">
            Top view
            <br>
            <a href="#">
                
                <img class="asidevideo" src="./imagekien/4.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/5.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/11.jpg" alt="Next video">
            </a>
            </br>


        </div>
        <div class="music">
            ♫ Âm nhạc
            <br>
            <a href="#">
                <img class="asidevideo" src="./imagekien/1.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/2.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/3.jpg" alt="Next video">
                
            </a>
            </br>


        </div>
        <div class="game">
            ♛ Gaming
            <br>
            <a href="#">
                
                <img class="asidevideo" src="./imagekien/6.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/7.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/8.jpg" alt="Next video">
            </a>
            </br>


        </div>
        <div class="sport">
            ⚽ Thể thao
            <br>
            <a href="#">
                <img class="asidevideo" src="./imagekien/9.jpg" alt="Next video">
                <img class="asidevideo" src="./imagekien/10.jpg" alt="Next video">
                
                <img class="asidevideo" src="./imagekien/12.jpg" alt="Next video">
            </a>
            </br>


        </div>
    </div>
    


</body>