<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="imagekien/x-icon">
    <title>YouTube</title>

</head>

<body class="background" >
    <link rel="stylesheet" href="videopage.css">
    <header>
        <div class="header-logo">
            <a href="#">
                <img src="./imagekien/hamburger.png" alt="navigation button" class="header-hamburger-logo">
            </a>
            <a href="./homepage.html">
                <img src="./imagekien/yt-logo.png" alt="YouTube logo" class="header-yt-logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="Tìm kiếm">

            </form>
        </div>
        <div class="header-icons header-logo">
            <a href="#">
                <img src="./imagekien/grid.png" name="grid icon" class="header-icons-grid">
            </a>
            <a href="#">
                <img src="./imagekien/bell.png" name="grid icon" class="header-icons-bell">
            </a>
            <a href="#">
                <img style="margin-top: 5px;" src="./imagekien/profile-placeholder.png" alt="grid icon" class="header-icons-profile">
            </a>
        </div>
    </header>
    <div class="maintask">
        
        <main>
            <div class="mainvid">
                <div class="main_video_container">
                    <!--nhúnglinkvô =)))  -->               
                    <iframe width="960" height="520" src="https://www.youtube.com/embed/6t-MjBazs3o" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> </div>
                <div class="describe">
                    <p>
                        SƠN TÙNG M-TP | CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO
                    </p>
                    <p>999,999,999 views
                        <a style="margin-left: 50%;"><img src="imagekien/lik.png"></a>
                    </p>

                </div>
                <div class="sub-Describe">
                    <a href="https://www.youtube.com/channel/UClyA28-01x4z60eWQ2kiNbA" style="color: white;">
                        <tr style="margin-left: 60px;">
                            <img class="channelname" src="./imagekien/unnamed.jpg" alt="name">
                            <img style="margin-left: 90%;" src="/imagekien/dangky.png">
                            Sơn Tùng M-TP Official
                            <br>7,67 Tr người đăng ký<br></tr>

                    </a>
                    <p>

                        Đây là món quà mà Sơn Tùng MTP dành cho bợn :))))) ahihi
                    </p>
                </div>
                <div class="showmor"><a href="#">
                        <p>Coi thêm (thực ra là không có gì trổng cả :>)</p>
                    </a></div>
            </div>
            
            <div>
                <div>
                    <div class="comments">
                        <p>6,806 comments</p>
                        <a href="#"><img src="./imagekien/search_1.png" alt="sort comments"></a>
                       
                    </div>
                    <div class="commentbox">
                        <form  style="color: white; ">
                            Comment 
                            <input style="background-color: white;"type="text" name="comment" placeholder="Bình luận">
            
                        </form>
                    </div>
                    <div class="commentsdemo">
                        <p class="comments-name">
                        <img src="./imagekien/unnamed.jpg" alt="profile icon" width="50">
                        Sơn Đòong EmTiDi <a style="color: white;" href="#">10 months ago</a></p>
                        <p class="comments-comment">Cảm ơn mọi người đã ủng hộ sản phẩm của Sơn Tùng MTP nhá :))))</p>
                        <div class="likes">
                            <a href="#">
                                <img src="./imagekien/like.jpg" alt="like">
                            </a>
                            <p class="comments-text">1K</p>
                            <a href="#">
                                <img src="./imagekien/dislike.jpg" alt="dislike">
                            </a>
                            <a href="#" class="comments-text">REPLY</a>
                        </div>
                        <a href="#" class="comments_replies" style="color: white;">View all 7 replies</a>
                    </div>
                    

        </main>
        <div class="recomm">
            <div class="aside-top-container">
                
                <a href="#"><button type="button" >Tự động phát</button></a>
            </div>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/1.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/2.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/xxx.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/3.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/4.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/1.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/2.jpg" alt="Next video">
            </a>
            <a href="#" >
                <img  class="asidevideo" src="./imagekien/4.jpg" alt="Next video">
            </a>

        </div>
    </div>


</body>