<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="imagekien/x-icon">
    <title>YouTube</title>

</head>

<body>
    <link rel="stylesheet" href="videopage.css">
    <header>
        <div class="header__logo">
            <a href="#">
                <img src="./imagekien/hamburger.png" alt="navigation button" class="header__hamburger-logo">
            </a>
            <a href="#">
                <img src="./imagekien/yt-logo.png" alt="YouTube logo" class="header__yt-logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" name="search" placeholder="Search..">
                <!-- <a href="#">
                    <img src="./imagekien/search_1.png" name="Search Icon" class="search__icon">
                </a> -->
            </form>
        </div>
        <div class="header__icons header__logo">
            <a href="#">
                <img src="./imagekien/grid.png" name="grid icon" class="header__icons--grid">
            </a>
            <a href="#">
                <img src="./imagekien/bell.png" name="grid icon" class="header__icons--bell">
            </a>
            <a href="#">
                <img src="./imagekien/profile-placeholder.png" alt="grid icon" class="header__icons--profile">
            </a>
        </div>
    </header>


</body>