body {
    background-image: url('https://images6.alphacoders.com/930/930345.jpg');
    background-size: 100%;
}

header {
    grid-area: header;
    height: 55px;
    border-bottom: 2px solid rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 150px 1fr 250px;
    padding: 0 10px 0 10px;
    margin-left: -10px;
    margin-bottom: 10px;
    position: fixed;
    top: -0.2em;
    width: 100%;
    z-index: 1;
    background: rgb(31, 30, 30);
}

.header-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search form {
    width: 40%;
    margin: 0 auto;
    color: black;
}

.search-icon {
    float: right;
    position: relative;
    top: -20px;
    height: 32px;
    width: 30px;
    left: 10px;
}

.header-hamburger-logo {
    position: relative;
    top: 10px;
}

.header-yt-logo {
    position: relative;
    top: 7px;
}

.header-icons-bell {
    position: relative;
    top: 18px;
    left: 20px;
}

.header-icons-profile {
    width: 45px;
    position: relative;
    top: 5px;
    left: 5px;
}

.header-icons-grid {
    position: relative;
    top: 17px;
    left: 20px;
}

input[type=text] {
    background-image: url('./imagekien/search.png');
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 1%;
    background-color: ghostwhite;
    outline: none;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

p {
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
    
    margin: 0 1.8em 0 1.8em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "videobox" "recomm";
}

.maintask {
    width: 60%;
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: 1fr minmax(200px, 90em) 1fr;
    margin-top: 5em;
}

.describe {
    background-color: rgb(24, 23, 23);
    padding: 30px;
    height: 120px;
    opacity: 0.95;
}

.sub-Describe {
    position: relative;
    padding: 20px;
    background-color: rgb(39, 38, 38);
    text-decoration: none;
    opacity: 0.92;
}

.showmor {
    padding: 20px;
    background-color: rgb(107, 15, 15);
    opacity: 0.75;
}

section {
   
    color: white;
    grid-area: section;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 1fr 1fr;
}

.comments {
    padding: 10px;
    position: relative;
    top: 1em;
    display: flex;
    justify-content: space-between;
}

.comments-name {
    position: relative;
    bottom: 3em;
    font-size: 0.86em;
}

.comments-comment {
    position: relative;
    bottom: 2em;
    line-height: 1.3em;
}

.likes {
    display: grid;
    grid-template-columns: repeat(4, 3em);
    width: 20em;
    font-size: 0.86em;
    position: relative;
    bottom: 2em;
}

.comments-text {
    margin-top: -3px;
    position: relative;
    top: 0.5em;
    text-decoration: none;
    color: white;
}

.commentsdemo {
    padding: 20px;
}
.circle{
    padding: 20px;
}
.asidevideo {
    width: 250%;
}
.asidevideo {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  
  
  .circle:hover .asidevideo {
    opacity: 0.7;
  }
  